body{
margin:0;
background:#111;
color:white;
font-family:Arial;
}

h1{
text-align:center;
padding:10px;
}

#map{
height:90vh;
}

.popup{
width:220px;
}

.popup img{
width:100%;
border-radius:4px;
margin-bottom:8px;
}

.popup h3{
margin:4px 0;
font-size:16px;
}

.popup p{
font-size:13px;
color:#ccc;
}

.leaflet-marker-icon{
transition:transform 0.2s;
}

.leaflet-marker-icon:hover{
transform:scale(1.2);
}

/* #addPointBtn{
position:absolute;
top:20px;
left:20px;
z-index:1000;
padding:10px 15px;
background:black;
color:white;
border:none;
cursor:pointer;
} */
